.home-content{
  width: 1080px;
  margin-top: 40px;
}

.home-content-2 {
    background-color: $light-pink;
    border-radius: $boder-radius;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: right;
    margin-right: 58px;
    margin-top: 80px;
    padding:18px 20px;
}

.home-content-2 h2 {
    text-align: center;
    width: 258px;
}
.home-content-2 p {
    margin-bottom: 30px;
}
.home-content-2 button {
    margin-right: 66px;
}
.home-content-1{
  display: inline-block;
  width: 558px;
  margin-top: 70px;
}
.home-content-1__ul {
    list-style: none;
    padding: 0;
    display: block;
    margin-top: 72px;
}

.home-content-1__img {
    height: 160px;
    width: 160px;
    border-radius: 200px;
    margin-right: 26px;
}

.home-content-1__ul li {
    float: left;
}
.home-content-1__h3  {
    margin-left: -26px;
    text-align: center;
    color: $titles-color;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Abril Fatface;
    font-size: 23px;
}
.home-content-p{
  width: 258px;
  text-align: center;
}
