a:active .player-btn__icon path{
  fill: $dark-blue;
}
a:hover .player-btn__icon path{
  fill: $dark-blue;
}
canvas{
  background-color: $light-blue;
  border-radius: $boder-radius;
  box-shadow: $box-shadow;
  margin: 0 0 38px  90px;
}
.container-player{
  background-color: $light-pink;
  border-radius: $boder-radius;
  box-shadow: $text-shadow;
  height: 639px;
  margin: 0 auto;
  width: 1078px;
}
.container-player__controls{
  display: inline;
  margin-right: 200px;
}
.player-select{
  display: inline;
  width: 200px;
}
.container-player__select{
  display: inline;
  margin-left: 90px;
  margin-right: 76px;
}
.container-player__title{
  font-size: 48px;
  margin: 0;
  text-align: center;
  padding: 30px 0 30px 0;
}
