.content-tabs input:focus {
  background-color: $backround;
}
.edit-icon {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin-left: 203px;
  margin-top: -52px;
  display: block;
}

.title-tabs-profile {
  color: #383333;
  display: inline-block;
  font-family: "Abril Fatface", cursive;
  font-size: 26px;
  padding: 100px 0 50px 50px;
}

.tab-content-playlist {
  background-color: #C7CEEA;
  border-radius: 5px;
  box-shadow: $box-shadow;
  color: #525151;
  float: right;
  height: 361px;
  margin-right: 28px;
  margin-top: 36px;
  padding: 20px;
  width: 765px;
}

.secondary-input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid $dark-blue;
  display: block;
  font-family: $secondary-font;
  height: 40px;
  margin-bottom: 18px;
  margin-left: 50px;
  margin-top: -26px;
}

.content-tabs__img {
  float: right;
  height: 196px;
  margin-right: 26px;
  margin-top: -567px;
  width: 482px;
}

.tabs-list-profile {
  font-size: 23px;
  list-style: none;
  margin-bottom: -1px;
  margin: 0;
}

.tabs-list-item-profile {
  color: $titles-color;
  float: left;
  font-family: $title-font;
  font-size: 23px;
  margin-bottom: 36px;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 2;
  margin-left: 30px;
}

.tab-content-profile {
  background-color: $light-blue;
  border-radius: $boder-radius;
  box-shadow: $box-shadow;
  color: $paragraph-color;
  float: right;
  height: 340px;
  margin-right: 28px;
  margin-top: 63px;
  padding: 20px;
  width: 735px;
}



.tabs-list-profile-0 {
  left: -57px;
  padding: 8px 146px 13px 71px;
  top: 402px;
}

.tabs-list-profile-1 {
  left: -58px;
  padding: 9px 148px 13px 74px;
  top: 472px;
}

.tabs-list-profile-2 {
  left: -58px;
  padding: 9px 174px 13px 74px;
  top: 541px;
}


.tabs-list-profile-recent{
  left: -58px;
  padding: 9px 79px 13px 71px;
  top: 520px;
  color: #383333;
  float: left;
  font-family: "Abril Fatface", cursive;
  font-size: 23px;
  margin-bottom: 36px;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 2;
  margin-left: 30px;
  margin-top: -249px;
}

.tabs-list-profile-favorites {
  left: -58px;
  padding: 9px 143px 13px 71px;
  top: 520px;
  color: #383333;
  float: left;
  font-family: "Abril Fatface", cursive;
  font-size: 23px;
  margin-bottom: 36px;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 2;
  margin-left: 30px;
  margin-top: -183px;
}
.tab-content-profile::-webkit-scrollbar {
  -webkit-appearance: none;
}

.tab-content-profile::-webkit-scrollbar:vertical {
  width: 10px;
}

.tab-content-profile::-webkit-scrollbar-button:increment,
.tab-content-profile::-webkit-scrollbar-button {
  display: none;
}

.tab-content-profile::-webkit-scrollbar-thumb {
  background-color: $dark-blue;
  border-radius: 20px;
  border: 2px solid $dark-pink;
}

.tab-content-profile::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: $dark-pink;
}
