$title-font:'Abril Fatface',cursive ;
$paragraph-font:'Karla', sans-serif;
$titles-color: #383333;
$paragraph-color: #525151;
$deaseable-color:#9F9F9F;
$dark-pink:#FD635D;
$light-pink:#FE9D99;
$dark-blue:#1C264A;
$light-blue:#C7CEEA;
$backround:#FEFCEB;
$details-mustard:#DFAA30;
$light-yellow:#FFD981;
$boder-radius: 5px;